extends layout 
 
block content
        .display
            img.productImage(src=`/${details.productImage}`, alt="image should be here", srcset="")
            label By:  
                a(href=`/authors/${details.author}`)
                    h3 #{details.author}
            br
            .title
                label Title:
                    h2  #{details.title}
                br
                br
            
            label Description:
            .description
                    p  #{details.description}

            .details-before-picture
                label.genre Genre: 
                    h3 #{details.genre}
                br
                label.date Publish Date:
                    h3  #{details.publishDate}
                br
                label Price
                    h3.price $#{details.price}
            .download
                button(type='submit') Download
            .read
                button(type='submit') Read Online